@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a asp-controller="Snakes">Snakes</a></li>
        <li><a asp-controller="Beverages">Beverages</a></li>
        <li><a asp-controller="WeatherReports">Weather Reports</a></li>
    </ul>
</div>
